<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.videolan.vlc">

    <uses-sdk tools:overrideLibrary="com.jraska.livedata.ktx, com.jraska.livedata, tools.fastlane.screengrab, android_libs.ub_uiautomator"/>

    <uses-permission
        android:name="android.permission.READ_LOGS"
        android:maxSdkVersion="18"/> <!-- android:maxSdkVersion="15" -->
    <!-- vibration on audioplayer buttons long press -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- used for setting ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/> <!-- STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- Launch recommendations service once device is booted -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- Audio search on TV -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- USe foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="org.videolan.vlc.permission.READ_EXTENSION_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

    <!-- Custom permissions for our content provider -->
    <permission
        android:name="${applicationId}.MEDIA"
        android:protectionLevel="signature" />

    <!-- Declare permissions used by our app -->
    <uses-permission android:name="${applicationId}.MEDIA" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>

    <application>

        <!-- Enable VLC in Samsung multiwindow mode -->
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>
        <!-- Enable VLC in LG split window mode -->
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true"/>
        <!-- Android auto -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/icon"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="3.0"/>
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <activity
            android:name=".gui.onboarding.OnboardingActivity"
            android:theme="@style/Theme.VLC.Onboarding"/>
        <activity
            android:name=".gui.LibrariesActivity"
            android:theme="@style/Theme.VLC"/>
        <activity
            android:name=".gui.AuthorsActivity"
            android:theme="@style/Theme.VLC"/>
        <activity
            android:name=".gui.SendCrashActivity"
            android:label="@string/vlc_reporter"
            android:theme="@style/Theme.VLC.SendCrashDialog"
            android:icon="@mipmap/ic_launcher_reporter"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.BetaWelcomeActivity"
            android:theme="@style/Theme.VLC.SendCrashDialog"/>
        <activity
            android:name=".gui.browser.FilePickerActivity"
            android:theme="@style/Theme.VLC.PickerDialog"/>
        <activity
            android:name=".gui.preferences.PreferencesActivity"
            android:theme="@style/Theme.VLC"/>
        <activity
            android:name=".gui.preferences.search.PreferenceSearchActivity"
            android:theme="@style/Theme.VLC"/>
        <activity
            android:name=".gui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.VLC.Player">

            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION" />
            </intent-filter>
            <meta-data android:name="com.samsung.android.support.REMOTE_ACTION"
                android:resource="@xml/air_actions"/>

        </activity>
        <activity
            android:name=".gui.DialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VLCTransparentTheme"
            android:label="" />

        <service
            android:name=".PlaybackService"
            android:exported="true">
        </service>
        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".gui.video.benchmark.BenchActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VLC.Player"
            tools:ignore="LockedOrientationActivity" /> <!-- TV components -->

        <provider
            android:name=".FileProvider"
            android:authorities="${applicationId}.thumbprovider"
            android:exported="true"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
